<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.wongs.drunkard.domain.addbook.mapper.DictRegionMapper" >
  <resultMap id="BaseResultMap" type="xyz.wongs.drunkard.domain.addbook.entity.DictRegion" >
    <id column="DICT_REGION_ID" property="id" jdbcType="BIGINT" />
    <result column="REGION_NAME" property="regionName" jdbcType="VARCHAR" />
    <result column="REGION_CODE" property="regionCode" jdbcType="VARCHAR" />
    <result column="UP_REGION_CODE" property="upRegionCode" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    DICT_REGION_ID, REGION_NAME, REGION_CODE, UP_REGION_CODE, STATUS
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from dict_region
    where DICT_REGION_ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from dict_region
    where DICT_REGION_ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="xyz.wongs.drunkard.domain.addbook.entity.DictRegion" >
    insert into dict_region (DICT_REGION_ID, REGION_NAME, REGION_CODE, 
      UP_REGION_CODE, STATUS)
    values (#{id,jdbcType=BIGINT}, #{regionName,jdbcType=VARCHAR}, #{regionCode,jdbcType=VARCHAR}, 
      #{upRegionCode,jdbcType=VARCHAR}, #{status,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="xyz.wongs.drunkard.domain.addbook.entity.DictRegion" >
    insert into dict_region
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dictRegionId != null" >
        DICT_REGION_ID,
      </if>
      <if test="regionName != null" >
        REGION_NAME,
      </if>
      <if test="regionCode != null" >
        REGION_CODE,
      </if>
      <if test="upRegionCode != null" >
        UP_REGION_CODE,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dictRegionId != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="regionName != null" >
        #{regionName,jdbcType=VARCHAR},
      </if>
      <if test="regionCode != null" >
        #{regionCode,jdbcType=VARCHAR},
      </if>
      <if test="upRegionCode != null" >
        #{upRegionCode,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="xyz.wongs.drunkard.domain.addbook.entity.DictRegion" >
    update dict_region
    <set >
      <if test="regionName != null" >
        REGION_NAME = #{regionName,jdbcType=VARCHAR},
      </if>
      <if test="regionCode != null" >
        REGION_CODE = #{regionCode,jdbcType=VARCHAR},
      </if>
      <if test="upRegionCode != null" >
        UP_REGION_CODE = #{upRegionCode,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=CHAR},
      </if>
    </set>
    where DICT_REGION_ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="xyz.wongs.drunkard.domain.addbook.entity.DictRegion" >
    update dict_region
    set REGION_NAME = #{regionName,jdbcType=VARCHAR},
      REGION_CODE = #{regionCode,jdbcType=VARCHAR},
      UP_REGION_CODE = #{upRegionCode,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=CHAR}
    where DICT_REGION_ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>