<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.wongs.drunkard.domain.addbook.mapper.RegisterUserHisMapper">
  <resultMap id="BaseResultMap" type="xyz.wongs.drunkard.domain.addbook.entity.RegisterUserHis">
    <id column="REGISTER_USER_HIS_ID" jdbcType="BIGINT" property="id" />
    <result column="REGISTER_USER_ID" jdbcType="BIGINT" property="registerUserId" />
    <result column="NICK_NAME" jdbcType="VARCHAR" property="nickName" />
    <result column="UNI_CODE" jdbcType="VARCHAR" property="uniCode" />
    <result column="MOBILE" jdbcType="VARCHAR" property="mobile" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="passWord" />
    <result column="SAT" jdbcType="VARCHAR" property="sat" />
    <result column="STATUS" jdbcType="CHAR" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    REGISTER_USER_HIS_ID, REGISTER_USER_ID, NICK_NAME, UNI_CODE, MOBILE, EMAIL, PASSWORD,
    SAT, STATUS
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from register_user_his
    where REGISTER_USER_HIS_ID =  #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from register_user_his
    where REGISTER_USER_HIS_ID =  #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="xyz.wongs.drunkard.domain.addbook.entity.RegisterUserHis">
    insert into register_user_his (REGISTER_USER_HIS_ID, REGISTER_USER_ID,
      NICK_NAME, UNI_CODE, MOBILE,
      EMAIL, PASSWORD, SAT,
      STATUS)
    values ( #{id,jdbcType=BIGINT}, #{registerUserId,jdbcType=BIGINT},
      #{nickName,jdbcType=VARCHAR}, #{uniCode,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR},
      #{email,jdbcType=VARCHAR}, #{passWord,jdbcType=VARCHAR}, #{sat,jdbcType=VARCHAR},
      #{status,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="xyz.wongs.drunkard.domain.addbook.entity.RegisterUserHis">
    insert into register_user_his
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="registerUserHisId != null">
        REGISTER_USER_HIS_ID,
      </if>
      <if test="registerUserId != null">
        REGISTER_USER_ID,
      </if>
      <if test="nickName != null">
        NICK_NAME,
      </if>
      <if test="uniCode != null">
        UNI_CODE,
      </if>
      <if test="mobile != null">
        MOBILE,
      </if>
      <if test="email != null">
        EMAIL,
      </if>
      <if test="password != null">
        PASSWORD,
      </if>
      <if test="sat != null">
        SAT,
      </if>
      <if test="status != null">
        STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="registerUserHisId != null">
         #{id,jdbcType=BIGINT},
      </if>
      <if test="registerUserId != null">
        #{registerUserId,jdbcType=BIGINT},
      </if>
      <if test="nickName != null">
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="uniCode != null">
        #{uniCode,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{passWord,jdbcType=VARCHAR},
      </if>
      <if test="sat != null">
        #{sat,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="xyz.wongs.drunkard.domain.addbook.entity.RegisterUserHis">
    update register_user_his
    <set>
      <if test="registerUserId != null">
        REGISTER_USER_ID = #{registerUserId,jdbcType=BIGINT},
      </if>
      <if test="nickName != null">
        NICK_NAME = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="uniCode != null">
        UNI_CODE = #{uniCode,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        MOBILE = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        PASSWORD = #{passWord,jdbcType=VARCHAR},
      </if>
      <if test="sat != null">
        SAT = #{sat,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=CHAR},
      </if>
    </set>
    where REGISTER_USER_HIS_ID =  #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="xyz.wongs.drunkard.domain.addbook.entity.RegisterUserHis">
    update register_user_his
    set REGISTER_USER_ID = #{registerUserId,jdbcType=BIGINT},
      NICK_NAME = #{nickName,jdbcType=VARCHAR},
      UNI_CODE = #{uniCode,jdbcType=VARCHAR},
      MOBILE = #{mobile,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      PASSWORD = #{passWord,jdbcType=VARCHAR},
      SAT = #{sat,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=CHAR}
    where REGISTER_USER_HIS_ID =  #{id,jdbcType=BIGINT}
  </update>

</mapper>