<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.wongs.drunkard.domain.addbook.mapper.RegUserMapper" >
  <resultMap id="BaseResultMap" type="xyz.wongs.drunkard.domain.addbook.entity.RegUser" >
    <id column="U_ID" property="id" jdbcType="BIGINT" />
    <result column="STATUS" property="status" jdbcType="CHAR" />
    <result column="NICK_NAME" property="nickName" jdbcType="VARCHAR" />
    <result column="U_CODE" property="uCode" jdbcType="VARCHAR" />
    <result column="U_MOBILE" property="uMobile" jdbcType="VARCHAR" />
    <result column="EMAIL" property="email" jdbcType="VARCHAR" />
    <result column="U_PWD" property="uPwd" jdbcType="VARCHAR" />
    <result column="SAT" property="sat" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    U_ID, STATUS ,NICK_NAME ,U_CODE ,U_MOBILE,EMAIL,U_PWD,SAT
  </sql>


  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from reg_user
    where U_ID = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectByRegUser" resultMap="BaseResultMap" parameterType="xyz.wongs.drunkard.domain.addbook.entity.RegUser" >
    select
    <include refid="Base_Column_List" />
    from reg_user
    where 1=1
      <if test="uCode != null" >
        AND U_CODE =#{uCode,jdbcType=VARCHAR}
      </if>
      <if test="uMobile != null" >
        AND U_MOBILE =#{uMobile,jdbcType=VARCHAR}
      </if>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from reg_user
    where U_ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="xyz.wongs.drunkard.domain.addbook.entity.RegUser" >
    insert into reg_user (U_ID, STATUS, NICK_NAME, 
      U_CODE, U_MOBILE, EMAIL, 
      U_PWD, SAT)
    values (#{id,jdbcType=BIGINT}, #{status,jdbcType=CHAR}, #{nickName,jdbcType=VARCHAR}, 
      #{uCode,jdbcType=VARCHAR}, #{uMobile,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{uPwd,jdbcType=VARCHAR}, #{sat,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="xyz.wongs.drunkard.domain.addbook.entity.RegUser" >
    insert into reg_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uId != null" >
        U_ID,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="nickName != null" >
        NICK_NAME,
      </if>
      <if test="uCode != null" >
        U_CODE,
      </if>
      <if test="uMobile != null" >
        U_MOBILE,
      </if>
      <if test="email != null" >
        EMAIL,
      </if>
      <if test="uPwd != null" >
        U_PWD,
      </if>
      <if test="sat != null" >
        SAT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uId != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="nickName != null" >
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="uCode != null" >
        #{uCode,jdbcType=VARCHAR},
      </if>
      <if test="uMobile != null" >
        #{uMobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="uPwd != null" >
        #{uPwd,jdbcType=VARCHAR},
      </if>
      <if test="sat != null" >
        #{sat,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="xyz.wongs.drunkard.domain.addbook.entity.RegUser" >
    update reg_user
    <set >
      <if test="status != null" >
        STATUS = #{status,jdbcType=CHAR},
      </if>
      <if test="nickName != null" >
        NICK_NAME = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="uCode != null" >
        U_CODE = #{uCode,jdbcType=VARCHAR},
      </if>
      <if test="uMobile != null" >
        U_MOBILE = #{uMobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="uPwd != null" >
        U_PWD = #{uPwd,jdbcType=VARCHAR},
      </if>
      <if test="sat != null" >
        SAT = #{sat,jdbcType=VARCHAR},
      </if>
    </set>
    where U_ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBlob" parameterType="xyz.wongs.drunkard.domain.addbook.entity.RegUser" >
    update reg_user
    set STATUS = #{status,jdbcType=CHAR},
      NICK_NAME = #{nickName,jdbcType=VARCHAR},
      U_CODE = #{uCode,jdbcType=VARCHAR},
      U_MOBILE = #{uMobile,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      U_PWD = #{uPwd,jdbcType=VARCHAR},
      SAT = #{sat,jdbcType=VARCHAR}
    where U_ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="xyz.wongs.drunkard.domain.addbook.entity.RegUser" >
    update reg_user
    set STATUS = #{status,jdbcType=CHAR}
    where U_ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>